{%extends 'base.html'%}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1> மாதவம் </h1>
      <p>கிண்டி பொறியியல் கல்லூரயில் தமிழுக்கென்று உள்ள ஒரே இடம் மாதவம்.
ஆயிரக்கணக்கான தமிழ் புத்தகங்களின் இருப்பிடம் மாதவம். தமிழை வளர்ப்பது மட்டுமல்ல ,தமிழோடு சேர்ந்து மாணவர்களும் வளரும் இடம். முத்தமிழ் விழா மாதவத்தின் முக்கியமான நிகழ்வு; பொங்கல் விழாவையும் கொண்டாடுவது மாதவத்தின் வழக்கம்!. மாலை நேரங்களில் மாதவம் அறை திறந்திருக்கும். உயிர்த் தமிழ் பயிர் செய்வோம் என்னும் குரலோடு இயங்கிக்கொண்டிருக்கும் மாதவம் கிண்டி பொறியியல் கல்லூரியின் ஒரு மாபெரும் தவத்தின் பயனே !
மாதவம் தமிழ் புத்தகங்கள் நிறைந்த நூலகம் ,தமிழ் ஒலிக்கும் இடம்.
மாதவத்தின் மிக முக்கியமான விழா தான்  "முத்தமிழ் விழா".
இயல்,இசை,நாடகம் மூன்றையும் அடிப்படையாகக் கொண்ட இவ்விழா தனது இரண்டாவது வருடத்தில் இசைத்தமிழை அடிப்படையாகக் கொண்டு பயணித்தது.</p>
  </div>
    <div class="col-sm-4">
      <img src="static/logo1.jpg" class="img-thumbnail">
    </div>
  </div>
</div>
<hr>
{%endblock%}
