{% extends 'base.html' %}
{% block body %}
<style>
.colour
{
  width:300px;
}
</style>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
$(document).ready(function() {
    $('#event').click(function() {
        $('.add-event').show();
        $('.buttons').hide();
    });
});
$(document).ready(function() {
    $('#update').click(function() {
        $('.update-event').show();
        $('.buttons').hide();
    });
});
$(document).ready(function() {
    $('#remove').click(function() {
        $('.remove-event').show();
        $('.buttons').hide();
    });
});
$(document).ready(function() {
    $('#gallery-upload').click(function() {
        $('.gallery').show();
        $('.buttons').hide();
    });
});
$(document).ready(function() {
    $('#gallery-update').click(function() {
        $('.gallery').show();
        $('.buttons').hide();
    });
});
</script>
<style>
.add-event { display: none; }
.update-event { display: none; }
.remove-event { display: none; }
.gallery { display:none;}
</style>

<br><center><h1 class="heading">Add/Edit events</h1></center><br>
<form style="margin-left: 2.5%;margin-right: 2.5%" method="POST" enctype="multipart/form-data">
  <div class="add-event form-group">
    <input type="number" class="form-control" id="eid" placeholder="event id" name="eid" value={{eid}}>
  </div>
  <div class="add-event form-group">
    <input type = "file" class="form-control-file" id="event photo" name ="photo">
  </div>
  <div class="add-event form-group">
    <input type="text" class="form-control" id="name" placeholder="event name" name="name">
  </div>
  <div class="add-event form-group">
    <label for="content">Event Content</label>
    <textarea class="form-control" id="content" rows="5" name="content"></textarea>
  </div>
  <div class="add-event form-group">
    <input type="date" class="form-control" id="date" placeholder="date of event" name="date">
  </div>
  <div class="add-event form-group">
    <input type="text" class="form-control" id="venue" placeholder="event venue" name="venue">
  </div>
  <div class="add-event form-group">
    <input type="time" class="form-control" id="time" placeholder="event time" name="time">
  </div>
 <center> <button type="submit" class="add-event btn btn-primary">Submit</button> </center>
</form>

<div  class="update-event container-fluid">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Event Id</th>
            <th>Name</th>
            <th>Date (YYYY/MM/DD)</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in events %}
        <tr>
        	  <td>{{i.eid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.date}}</td>
            <td><a href="/admin/updateevent?eid={{i.eid}}"><button type="button" class="btn btn-primary">Update</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div  class="remove-event">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Event Id</th>
            <th>Name</th>
            <th>Date (YYYY/MM/DD)</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in events %}
        <tr>
        	  <td>{{i.eid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.date}}</td>
            <td><a href="/admin/removeevent?eid={{i.eid}}"><button type="button" class="btn btn-primary">Remove</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div  class="gallery">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Event Id</th>
            <th>Name</th>
            <th>Date (YYYY/MM/DD)</th>
            <th>Add/Update gallery</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in events %}
        <tr>
        	  <td>{{i.eid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.date}}</td>
            <td><a href="/admin/uploadgallery?eid={{i.eid}}"><button type="button" class="btn btn-primary">Proceed</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<hr>
<div class="buttons">
<center>
<p><button type="button" class="colour btn btn-primary btn-block" id="event">Upload event details</button></p>
<hr>
<p><button type="button" class="colour btn btn-primary btn-block" id="update">Update event details</button></p>
<hr>
<p><button type="button" class="colour btn btn-primary btn-block" id="gallery-upload">Upload gallery</button></p>
<hr>
<p><button type="button" class="colour btn btn-primary btn-block" id="gallery-update">Update gallery</button></p>
<hr>
<p><button type="button" class="colour btn btn-primary btn-block" id="remove">Remove event</button></p></center>
<hr>
</div>
{% endblock %}
