{% extends 'base.html' %}
{% block body %}
<h1 class="heading">Add/Edit member</h1>
<form style="margin-left: 2.5%;margin-right: 2.5%" action="/memberedit" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <input type="number" class="form-control" id="mid" placeholder="mid" name="mid" {% if editmember %}value="{{editmember.mid}}"{% endif %}>
  </div>
  <div class="form-group">
    <input type="name" class="form-control" id="name" placeholder="name" name="name" {% if editmember %}value="{{editmember.name}}"{% endif %}>
  </div>
  <div class="form-group">
    <input type="name" class="form-control" id="department" placeholder="department" name="department" {% if editmember %}value="{{editmember.department}}"{% endif %}>
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="phone" placeholder="phone" name="phone" {% if editmember %}value="{{editmember.phone}}"{% endif %}>
  </div>

  <div class="form-group">
    <input type="file" class="form-control-file" id="photo" name="photo">
  </div>

  <div class="form-group">
    <input type="name" class="form-control" id="post" placeholder="post" name="post" {% if editmember %}value="{{editmember.post}}"{% endif %}>
  </div>



 <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>
<br>
<div class="container-fluid"><br><br></div>
<div class="container-fluid">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>RollNo</th>
            <th>Dept</th>
             <th>Phone</th>
              <th>Post</th>
                <th>Remove?</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in members %}
        <tr>
            <td><a href="/admin/members?mid={{i.mid}}">{{i.name}}</a></td>
            <td>{{i.rollno}}</td>
             <td>{{i.department}}</td>
              <td>{{i.phone}}</td>
               <td>{{i.post}}</td>
               <td><a href="/admin/removemember?mid={{i.mid}}">remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}