{% extends 'base.html' %}
{% block body %}
<br>
{% if curr.level == '1' or curr.level == '2' %}
<h1 class="heading">Add/Edit articles</h1>
<form style="margin-left: 2.5%;margin-right: 2.5%" action="/articleedit" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <input type="number" class="form-control" id="aid" placeholder="aid" name="aid" {% if aid %}value="{{aid}}"{% endif %}>
  </div>
  <div class="form-group">
    <input type="name" class="form-control" id="name" placeholder="name" name="name" {% if editname %}value="{{editname}}"{% endif %}>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="filech" name="filech">
    <label class="form-check-label" for="filech">Edit File?</label>
  </div>
  <div class="form-group">
    <input type="file" class="form-control-file" id="content" name="content">
  </div>
  <div class="form-group">
    <input type="name" class="form-control" id="author" placeholder="author" name="author" {% if editauthor %}value="{{editauthor}}"{% endif %}>
  </div>
 <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>
<br>
<br>
<div class="container-fluid"><br><br></div>
<div class="container-fluid">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Aid</th>
            <th>Name</th>
            <th>Author</th>
            <th>Remove?</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in articles %}
        <tr>
        	<td>{{i.aid}}</td>
            <td><a href="/admin/article?aid={{i.aid}}">{{i.name}}</a></td>
            <td>{{i.author}}</td>
            <td><a href="/admin/removearticle?aid={{i.aid}}">remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{% endblock %}