{% extends 'base.html' %}
{% block body %}
<br>
<a href="/admin/article">article</a>
<a href="/admin/library">library</a>
<a href="/admin/defaulters">defaulters</a>
{% if curr.level == '1' %}
<h1 class="heading">Add/Edit user</h1>
<form style="margin-left: 2.5%;margin-right: 2.5%" action="/adminedit" method="POST">
  <div class="form-group">
    <input type="number" class="form-control" id="uid" placeholder="uid" name="uid" {% if edituser %}value="{{edituser.uid}}"{% endif %}>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="password" name="password" {% if edituser %}value="{{edituser.password}}"{% endif %}>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="level" placeholder="level" name="level" {% if edituser %}value="{{edituser.level}}"{% endif %}>
  </div>
 <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>
<br>
<div class="container-fluid"><br><br></div>
<div class="container-fluid">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Level</th>
            <th>Remove?</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in users %}
        <tr>
            <td><a href="/admin?uid={{i.uid}}">{{i.uid}}</a></td>
            <td>{{i.level}}</td>
                        <td><a href="/admin/removeuser?uid={{i.uid}}">remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
<br>
<form id="kaviform" method="POST" action="/admin/kavithai">
  <div class="form-group" >
    <textarea class="form-control" id="kavithai" name="kavithai" placeholder="kavithai" rows="10" form="kaviform"></textarea>
  </div>
  <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>

<form method="POST" action="/admin/art" enctype="multipart/form-data">
<div class="form-group">
    <input type="file" class="form-control-file" id="photo" name="photo" accept="image/*">
  </div>
   <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>

{% endblock %}