{% extends 'base.html' %}
{% block body %}
<br>
<br>
<div class="container-fluid">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Reader's name</th>
            <th>Reader's phone</th>
            <th>Reader's id</th>
            <th>Book Name</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in defaulters %}
        <tr>
         	<td>{{i.rname}}</td>
         	<td>{{i.rphone}}</td>
         	<td>{{i.rid}}</td>
         	<td>{{i.name}}</td>        
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}