{% extends 'base.html' %}
{% block body %}
<br>
<br>
<form style="margin-left: 2.5%;margin-right: 2.5%" action="/admin/lendbook" method="POST">
  <div class="form-group">
    <input type="name" class="form-control" id="bkid" placeholder="bkid" name="bkid" value="{{bkid}}">
  </div>
  <div class="form-group">
    <input type="name" class="form-control" id="rname" placeholder="reader name" name="rname">
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="rphone" placeholder="phone" name="rphone">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="rid" placeholder="reader roll no" name="rid">
  </div>

  <div class="form-group">
    <input type="date" class="form-control" id="due" placeholder="date of lending" name="due">
  </div>

 <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>
{% endblock %}