{% extends 'base.html'  %}
{% block body %}
{% if curr.level == '3'  or curr.level == '1' %}
<br>
<h1 class="heading">Add/Edit book</h1>
<form style="margin-left: 2.5%;margin-right: 2.5%" action="/bookedit" method="POST">
  <div class="form-group">
    <input type="number" class="form-control" id="bkid" placeholder="bkid" name="bkid" value="{{bkid}}">
  </div>
  <div class="form-group">
    <input type="name" class="form-control" id="name" placeholder="name" name="name" {% if editbook %}value="{{editbook.name}}"{% endif %}>
  </div>
  <div class="form-group">
    <input type="name" class="form-control" id="author" placeholder="author" name="author" {% if editbook %}value="{{editbook.author}}"{% endif %}>
  </div>
 <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>
<br>
<br>
<div class="container-fluid">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>author</th>
            <th>lend?</th>
            <th>remove?</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in books %}
        <tr>
            <td><a href="/admin/library?bkid={{i.bkid}}">{% if i.availability == 0 %}<s>{% endif %}{{i.bkid}}{% if i.availability == 0 %}</s>{% endif %}</a></td>
            <td>{% if i.availability == 0 %}<s>{% endif %}{{i.name}}{% if i.availability == 0 %}</s>{% endif %}</td>
             <td>{% if i.availability == 0 %}<s>{% endif %}{{i.author}}{% if i.availability == 0 %}</s>{% endif %}</td>
             {% if i.availability == 0 %}
              <td><a href="/admin/returnbook?bkid={{i.bkid}}">return</a></td>
             {% else %}
             <td><a href="/admin/lendbook?bkid={{i.bkid}}">lend</a></td>
             {% endif %}
			 <td><a href="/admin/removebook?bkid={{i.bkid}}">remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<br> 
{% endif %}
{% endblock %}