{% extends 'base.html' %}
{% block body %}
<br>
<br>
<input type="text" id="myInput" onkeyup="articlefilter()" placeholder="கட்டுரைகளைத்  தேட . . ." style="float:right;width:30%;margin-right: 2.5%">
<br>
<br>
<ul class="list-group" id="myUL">
	<div>
   {% for arti in articles %}
  <li class="list-group-item" style="margin-left: 2.5%;margin-right: 2.5%">
  	<div>
  	<h5><a href="/displayarticle?aid={{arti.aid}}">{{arti.name}}</a></h5>
  	<h6 style="color:#777777">{{arti.author}}</h6>
  </div>
</li>
 {%  endfor %}
</div>
</ul>
<br><br>
{% endblock %}
