{% extends 'base.html' %}
{% block body %}
<div class="card" style="padding-left: 5%;padding-right: 5%">
<center><b>{{article.name}}</b></center>
<center><p>{{article.author}}</p></center>
{{content | safe }}
</div>
{% endblock %}