<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
.current {
  background-color: yellow;
}
.center
{

		text-align: center;
}
 	body
 	{
	 font-family: 'Mukta Malar', sans-serif;
 	}
	html
	{
    position: relative;
    min-height: 100%;
	}
  .thiru p{
    width: 100%;
    font-size: 36px;
    color: #FFFFF; !important
  }
	body
	{
    margin: 0 0 200px; /* bottom = footer height */
	}
	.carousel-item {
		height: 500px;

		background-image: url({{ url_for('static', filename = 'download.jpg') }});
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   	background-blend-mode: darken;
	}
	.carousel-fade .carousel-item{
    transition: transform 5s;
    transition-timing-function: ease-in-out;
		transition-property: opacity;
	}
	.cp{
		font-size: 36px;
	}
	.horizontal{
		display:inline-block;
	}
	.hori-img{
		width: 40%;
    max-width: 40%;
    height: auto;
	}
	.fixw{
		width: 95%;
		margin-left: 2%;
	}
	.card-body{
		width: 55%;
	}

   @media only screen and (max-width: 768px) {
    .hori-img {
        margin-top: -10%;
    }
}

  @media only screen and (max-width: 600px) {
    .hori-img {
        display: none;
    }
    .card-body{
      width: 100%;
    }
}


  .hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: block;
  height: auto;
}
.hvrbox img {
    height: 100%;
    width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  margin-left: 4%;
  margin-right: 4%;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;

}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

 .navbar {
    background-color: #000000;
    opacity: 1.0;
 }

 .footer {
  width: 100%;
  line-height: 30px;
  background-color: #000000;
  text-align: center;
  position:absolute;
  bottom:0;

  left: 0
}
.footer p
{
	color:#FFFFFF;
	font-size: 18px;
}
.fa
{
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook
{
  color: white;
}

.fa:hover {
    color: white;
		text-decoration:none;
}
.fa-twitter
{
  color: white;
}
.fa-instagram
{
  color: white;
}
.fa-phone
{
	margin: 0px 0px;
	font-size:20px;
	width:25px
}
.nav-link:hover
{
	background-color: #808080;
}
</style>
<title>மாதவம்</title>
</head>
<body style="min-height: 100%;height: 100%">
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand nav-link" href="/">மாதவம்</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="main" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/articles">கட்டுரைகள்</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/books"><span class="sr-only">நூலகம்</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/event">நிகழ்ச்சிகள்<span class="sr-only"></span></a>
      </li>
       <!--<li class="nav-item active">
        <a class="nav-link" href="/members">உறுப்பினர்கள்<span class="sr-only"></span></a>
      </li>-->
      <li class="nav-item active">
        <a class="nav-link" href="/about">எங்களைப் பற்றி</a>
      </li>
    </ul>
  </div>
  {% block nav %}
    {% endblock %}
</nav>
{% block body %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
  $('.carousel').carousel({
  interval: 3000,
  pause: false
});
   $('#table_id').DataTable();
});

function articlefilter() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        d = li[i].getElementsByTagName("div")[0];
        h1 = d.getElementsByTagName("h5")[0];
        h6 = d.getElementsByTagName("h6")[0];
        if (h1.innerHTML.toUpperCase().indexOf(filter) > -1 || h6.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

<footer class="footer">
<div class="row">
	<div class="col-sm-4">
		<br>
		<pre style="color:white;">
		<i class="fa fa-phone" aria-hidden="true"></i> தொடர்புக்கு :
		+91 8012172075
		+91 9095617208
		+91 9600650225
		</pre>
 </div>
  <div  class="col-sm-4 center">
  <br>
		<p>
		மாணவர் தமிழ் வளர் மன்றம்<br>
		கிண்டி பொறியியல் கல்லூரி<br>
		சென்னை - 25
		</p>
	<br>
  </div>
	<div class="col-sm-4">
		<p><br>மாதவத்தைத் தொடர!</p>
		<a href="https://www.facebook.com/Maathavam/?fb_dtsg_ag=AdzMWYto--zhD_JmUi48lLHc2ubn0l6a-ZL3fV1iVu1K_A%3AAdzKx-5MweBcmUKzTzsfXN9JqMPZkC68WDAfxABwAyBpvw" class="fa fa-facebook"></a>
		<a href="https://twitter.com/4BIPXixTyRDsJy5" class="fa fa-twitter"></a>
		<a href="https://www.instagram.com/maathavam_ceg/" class="fa fa-instagram"></a>
	</div>
</div>
</footer>
</body>
</html>
