{% extends 'base.html' %}
{% block body %}
<br>
<br>
<input type="text" id="myInput" onkeyup="articlefilter()" placeholder="Search for articles..." style="float:right;width:30%;margin-right: 2.5%">
<br>
<br>
<ul class="list-group" id="myUL">
	<div>
   {% for arti in books %}
  <li class="list-group-item" style="margin-left: 2.5%;margin-right: 2.5%;">
  	<div>
  	<h5>{% if arti.availability == 0 %}<s>{% endif %}{{arti.name}}{% if arti.availability == 0 %}</s>{% endif %}</h5>
  	<h6 style="color:#777777">{% if arti.availability == 0 %}<s>{% endif %}{{arti.author}}{% if arti.availability == 0 %}</s>{% endif %}</h6>
  </div>
</li>
 {%  endfor %}
</div>
</ul>

{% endblock %}