{% extends 'base.html' %}
{% block body %}
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
/* Rules for icon sizes: */
.material-icons.md-18 { font-size: 18px; vertical-align: middle; }
.material-icons.md-24 { font-size: 24px; vertical-align: middle;} /* Default */
.material-icons.md-36 { font-size: 36px; vertical-align: middle;}
.material-icons.md-48 { font-size: 48px; vertical-align: middle;}
img {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}
.styles
{
  border:2px solid black;
  padding:10px;
  border-radius: 25px;
}
</style>

<br></br>
<center><h2>எதிர்வரும் நிகழ்வுகள்</h2></center>
<div class="styles">
{% for event in upcomingevent %}
<div class="card horizontal fixw">
  <img class="img-responsive hori-img" src="static/events/{{event.eid}}/{{event.photo}}" alt="Card image cap">
  <div class="card-body horizontal">
    <h5 class="card-title">{{event.name}}</h5>
    <p><i class="material-icons md-24">event</i> {{event.date}}</p>
    <p><i class="material-icons md-24">place</i>{{event.venue}}</p>
    <a href="/upcomingevent?eid={{event.eid}}" class="btn btn-primary">மேலும் பார்க்க!</a>
  </div>
</div>
{%endfor%}
</div>

<br>

<center><h2>கடந்த நிகழ்வுகள்</h2></center>
<div class="row styles">
{% for event in pastevent %}
<div class="col-md-3 col-sm-6 col-xs-12 hvrbox">
  <a href="/pastevent?eid={{event.eid}}"><img src="static/pastevent.png" alt="Mountains" class="hvrbox-layer_bottom">
  <div class="hvrbox-layer_top">
    <div class="hvrbox-text">{{event.name}}</div>
  </div></a>
</div>

<br><br>
 {% endfor %}
 </div>
{%endblock%}
