{% extends 'base.html' %}
{% block body %}
<br><center><h1 class="heading">Add/Edit events</h1></center><br>
<form style="margin-left: 2.5%;margin-right: 2.5%" method="POST" enctype="multipart/form-data">
  <div class="add-event form-group">
    <input type="number" class="form-control" id="eid" placeholder="event id" name="eid" value={{eid}}>
  </div>
  <div class="add-event form-group">
    <input type = "file" class="form-control-file" id="event photo" name ="photo" multiple>
  </div>
  <div class="add-event form-group">
    <label for="content">Event Content</label>
    <textarea class="form-control" id="content" rows="5" name="content"></textarea>
  </div>
   <center> <button type="submit" class="add-event btn btn-primary">Submit</button> </center>
</form>
{%endblock%}
