{% extends 'base.html' %}
{% block body %}
<style>
</style>
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="vertical-align: middle;">
    <div class="carousel-item thiru active">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <center><span><p style="color:white;">{{thiru}}</p></span></center>
        <center><span><p style="color:white;">{{kural}}</p></span></center>
    </div>
    <!-- <div class="carousel-item thiru">
       <br>
      <br>
      {% for line in kavithai %}
         <center><span><p style="color:white;">{{line}}</p></span></center>
      {% endfor %}
      }
    </div>
    <div class="carousel-item" style="vertical-align: middle;height: 100%">
      <br>
      <br>
      <br>
      <center><img src={{ url_for('static', filename = art ) }} alt="Third slide"><center>
        <br>
    </div> -->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br><br>

<div class="row">
<div class="col-sm-3 hvrbox">
  <a href="/articles" ><img src={{ url_for('static', filename = 'article-card.jpg') }} alt="Mountains" class="hvrbox-layer_bottom">
  <div class="hvrbox-layer_top">
    <div class="hvrbox-text">கட்டுரைகள்</div>
  </div></a>
</div>
<div class="col-sm-3 hvrbox">
  <a href="/event" ><img src={{ url_for('static', filename = 'events-card.jpeg') }} alt="Mountains" class="hvrbox-layer_bottom">
  <div class="hvrbox-layer_top">
    <div class="hvrbox-text">நிகழ்ச்சிகள்</div>
  </div></a>
</div>
<div class="col-sm-3 hvrbox">
  <a href="/books" ><img src={{ url_for('static', filename = 'books-card.jpg') }} alt="Mountains" class="hvrbox-layer_bottom">
  <div class="hvrbox-layer_top">
    <div class="hvrbox-text">நூலகம்</div>
  </div></a>
</div>
<div class="col-sm-3 hvrbox">
  <a href="/gallery" ><img src={{ url_for('static', filename = 'gallery-card.jpeg') }} alt="Mountains" class="hvrbox-layer_bottom">
  <div class="hvrbox-layer_top">
    <div class="hvrbox-text">புகைப்படங்கள்</div>
  </div></a>
</div>
</div>

<br><br>
{% endblock %}
