{% extends 'base.html' %}
{% block body %}
<br><br>
{% for row in members %}
<div class="card-group">
  {% for mem in row %}
  <div class="card col-sm-3" style="padding: 1%">
    <img class="card-img-top" src={{ url_for('static', filename = "./members/" + mem.filename ) }} alt="{{mem.mid}}" style="height:50%">
    <div class="card-body" style="width: 100%">
      <h5 class="card-title">{{mem.name}}</h5>
      <p>{{mem.dept}}</p>
      <p>{{mem.phone}}</p>
          </div>
      <div><p style="float:right;color:#777777">{{mem.post}}</p></div>
  </div>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}