{% extends 'base.html' %}
{%block body%}
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
/* Rules for icon sizes: */
.material-icons.md-18 { font-size: 18px; vertical-align: middle; }
.material-icons.md-24 { font-size: 24px; vertical-align: middle;} /* Default */
.material-icons.md-36 { font-size: 36px; vertical-align: middle;}
.material-icons.md-48 { font-size: 48px; vertical-align: middle;}
</style>
<script>
$(function(){
  $('#carousel-example-generic').carousel();
});
</script>
<br></br>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
  <div class="carousel-caption d-lg-block">
  </div>    </div>
    <div class="carousel-item">
  <div class="carousel-caption d-lg-block"><div class="carousel-inner">
  {% for event in gallerypics%}
  <div class="item{% if loop.index == 5 %} active{% endif %}">
    <img src="static/events/{{event.eid}}/CEG1.jpg" class="img-responsive" alt="test1">
    <div class="carousel-caption"></div>
  </div>
  {% endfor %}
  <!-- Controls -->
  <a class="home-icon left" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="fa fa-arrow-left"></i>
  </a>
  <a class="home-icon right" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="fa fa-arrow-right" style="text-align: right;"></i>
  </a>
  </div>
  </div>    </div>
    <div class="carousel-item">
  <div class="carousel-caption d-lg-block">
  </div>    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>

  <br><br>
{% endblock %}
