{% extends 'base.html' %}
{%block body%}
<script>
$(function(){
  $('#carousel-example-generic').carousel();
});
</script>
<style>
.img-fluid {
  max-width: 70%;
  height:70%
  height: auto;
}

.item {
  width: 600px;
  border: 15px solid gold;
  padding: 15px;
  margin: 25px;
}
.styling
{
  margin-left:auto;
  margin-right:auto;
  display:block;
}
</style>

{%for i in contents%}
<div class="card horizontal fixw">
  <br><center><h2 class="card-title">{{details.name}}</h2></center><br>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    {%for i in range(gallerypics|length)%}
    <li data-target="#carouselExampleIndicators" data-slide-to={{i}} class="active"></li>
    {%endfor%}

  </ol>
  <div class="carousel-inner">
    {% for event in gallerypics %}
    <div class="carousel-item  {% if loop.index == 1 %} active {% endif %}">
      <center><img class="img-fluid" src="static/events/{{event.eid}}/{{event.photo}}"></center>

 <!--<div class="carousel-caption d-lg-block">
    <h5 class="text-xl-center cp"></h5>
    <p>...</p>
  </div> -->
   </div>
  {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br><br>


  <div class="card-body horizontal styling">
    {%for i in contents%}
    <p align="center" class="card-text">{{i.content}}</p>
    {%endfor%}
    <br>
    <center><a href="/event" class="btn btn-primary">பின் செல்க!</a></center>
  </div>
</div>
{%endfor%}


{% endblock %}
