{% extends 'base.html' %}
{% block body %}
<br>
<center><p>{{message}}</p></center>
<br>
<form style="margin-left: 2.5%;margin-right: 2.5%" action="/admin" method="POST">
  <div class="form-group">
    <input type="number" class="form-control" id="uid" placeholder="uid" name="uid">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="password" name="password">
  </div>
 <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>
<br>
<br>

{% endblock %}