{% extends 'base.html' %}
{%block body%}
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
/* Rules for icon sizes: */
.material-icons.md-18 { font-size: 18px; vertical-align: middle; }
.material-icons.md-24 { font-size: 24px; vertical-align: middle;} /* Default */
.material-icons.md-36 { font-size: 36px; vertical-align: middle;}
.material-icons.md-48 { font-size: 48px; vertical-align: middle;}
</style>
<br></br>
<div class="card horizontal fixw">
  <center><h3 class="card-title">{{events.name}}</h3></center>
  <center><img class="img-responsive hori-img" src="static/events/{{events.eid}}/{{events.photo}}" alt="Card image cap"><center>
    <!-- <h1>{{events.photo}}</h1> -->
  <div class="card-body horizontal">
    <p class="card-text">{{events.content}}</p>
    <p><i class="material-icons md-24">place</i>{{events.venue}}</p>
    <center><p><i class="material-icons md-24">event</i> {{events.date}} &nbsp; &nbsp;
    <i class="material-icons md-24">schedule</i>{{events.time}}</p></center>
    <br>
    <a href="/event" class="btn btn-primary">பின் செல்க!</a>
  </div>
</div>
{% endblock %}
