{% extends 'base.html'%}
{% block body %}
<br><center><h1 class="heading">Add/Edit events</h1></center><br>
<form style="margin-left: 2.5%;margin-right: 2.5%" method="POST" enctype="multipart/form-data">
  <div class="show-onclic form-group">
    <input type="number" class="form-control" id="eid" placeholder="event id" name="eid" value={{event.eid}}>
  </div>
  <div class="show-onclic form-group">
    <input type = "file" class="form-control-file" id="event photo" name ="photo" value={{event.photo}}>
  </div>
  <div class="show-onclic form-group">
    <input type="text" class="form-control" id="name" placeholder="event name" name="name" value={{event.name}}>
  </div>
  <div class="show-onclic form-group">
    <label for="content">Event Content</label>
    <textarea class="form-control" id="content" rows="5" name="content" value={{event.content}}></textarea>
  </div>
  <div class="show-onclic form-group">
    <input type="date" class="form-control" id="date" placeholder="date of event" name="date" value={{event.date}}>
  </div>
  <div class="show-onclic form-group">
    <input type="text" class="form-control" id="venue" placeholder="event venue" name="venue" value={{event.venue}}>
  </div>
  <div class="show-onclic form-group">
    <input type="time" class="form-control" id="time" placeholder="event time" name="time" value={{event.time}}>
  </div>
 <center> <button type="submit" class="show-onclic btn btn-primary">Submit</button> </center>
</form>
{% endblock %}
